@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('/img/mainbg.svg');
  background-size: cover;
  background-position: 0% 20%;
}

.btn-active {
  @apply text-white bg-[#D46C4F] hover:bg-[#D46C4F] font-medium rounded-lg text-xs md:text-sm me-2 w-16 md:w-28 h-8
}

.btn-inactive {
  @apply text-[#D46C4F] bg-white hover:bg-white font-medium rounded-lg text-xs md:text-sm me-2 w-16 md:w-28 h-8 border-2 border-[#D46C4F]
}

.btn-2-active {
  @apply text-white bg-[#77706F] hover:bg-[#77706F] font-medium rounded-lg text-xs md:text-sm me-2 w-16 md:w-28 h-8
}

.btn-2-inactive {
  @apply text-[#77706F] bg-white hover:bg-white font-medium rounded-lg text-xs md:text-sm me-2 w-16 md:w-28 h-8 border-2 border-[#77706F]
}

.card {
  @apply bg-white text-white flex justify-center items-center rounded-md h-52 drop-shadow-xl relative
}

.overlay-bg {
  background: rgba(217, 217, 217, 0.44);
}
